{%- if section.settings.announcement_bar_enabled -%}
  {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
    <div class="header__bar bg-base-body py-2">
      <div class="container max-w-screen-3xl">
        <ul class="flex flex-wrap items-center justify-center gap-3">
          {%- if section.settings.announcement_bar_link != blank -%}
            <li>
              <a
                href="{{ section.settings.announcement_bar_link }}"
                class="text-inherit"
              >
                {{- section.settings.announcement_bar_text | escape -}}
              </a>
            </li>
          {%- else -%}
            <li>{{ section.settings.announcement_bar_text | escape }}</li>
          {%- endif -%}
        </ul>
      </div>
    </div>
  {%- endif -%}
{%- endif -%}
