.custom-input {

  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    &:checked {

      + .custom-input__label {

        .custom-input__checkbox {
          background: var(--base-body-text);
          border-color: var(--base-body-text);
          &::after {
            opacity: 1;
          }
        }
      }
    }
    &:disabled,
    &.disabled {
      cursor: default;
      pointer-events: none;

      + .custom-input__label {
        color: var(--base-secondary-text);

        .custom-input__checkbox {
          background: var(--base-accent);
          border-color: var(--base-border);
        }
      }
    }
  }
}
