{%- comment -%}Buttons lg{%- endcomment -%}
<div class="flex flex-wrap items-start space-x-2">
  <div class="mb-2 inline-flex items-start">
    {%
      render 'button',
      color: 'primary',
      size: 'lg',
      text: 'Button',
    %}
  </div>
  <div class="mb-2 inline-flex items-start">
    {%
      render 'button',
      element: 'button',
      color: 'primary',
      size: 'lg',
      text: 'Button',
    %}
  </div>
  <div class="mb-2 inline-flex items-start">
    {%
      render 'button',
      color: 'primary',
      size: 'lg',
      snippet: 'icon',
      icon: 'search',
      text: 'Button',
    %}
  </div>
  <div class="mb-2 inline-flex items-start">
    {%
      render 'button',
      color: 'primary',
      size: 'btn-lg',
      type: 'icon',
      snippet: true,
      icon: 'search',
    %}
  </div>
  <div class="mb-2 inline-flex items-start">
    {%
      render 'button',
      class: 'disabled'
      element: 'button',
      color: 'primary',
      size: 'lg',
      text: 'Button',
      data_attribute: 'disabled'
    %}
  </div>
</div>

{%- comment -%}Buttons md{%- endcomment -%}
<div class="flex flex-wrap items-start space-x-2">
  <div class="mb-2 inline-flex items-start">
    {%
      render 'button',
      color: 'primary',
      size: 'md',
      text: 'Button',
    %}
  </div>
  <div class="mb-2 inline-flex items-start">
    {%
      render 'button',
      element: 'button'
      color: 'primary',
      size: 'md',
      text: 'Button',
    %}
  </div>
  <div class="mb-2 inline-flex items-start">
    {%
      render 'button',
      color: 'primary',
      size: 'md',
      snippet: true,
      icon: 'search',
      text: 'Button',
    %}
  </div>
  <div class="mb-2 inline-flex items-start">
    {%
      render 'button',
      color: 'primary',
      size: 'btn-md',
      type: 'icon',
      snippet: true,
      icon: 'account',
    %}
  </div>
  <div class="mb-2 inline-flex items-start">
    {%
      render 'button',
      element: 'button',
      color: 'primary',
      size: 'md',
      text: 'Button',
      data_attribute: 'disabled'
    %}
  </div>
</div>

{%- comment -%}Buttons sm{%- endcomment -%}
<div class="flex flex-wrap items-start space-x-2">
  <div class="mb-2 inline-flex items-start">
    {%
      render 'button',
      color: 'primary',
      size: 'sm',
      text: 'Button',
    %}
  </div>
  <div class="mb-2 inline-flex items-start">
    {%
      render 'button',
      element: 'button',
      color: 'primary',
      size: 'sm',
      text: 'Button',
    %}
  </div>
  <div class="mb-2 inline-flex items-start">
    {%
      render 'button',
      color: 'primary',
      size: 'sm',
      text: 'Button',
      snippet: true,
      icon: 'search',
    %}
  </div>
  <div class="mb-2 inline-flex items-start">
    {%
      render 'button',
      color: 'primary',
      size: 'btn-sm',
      snippet: true,
      type: 'icon',
      icon: 'cart',
    %}
  </div>
  <div class="mb-2 inline-flex items-start">
    {%
      render 'button',
      element: 'button',
      color: 'primary',
      size: 'sm',
      text: 'Button',
      data_attribute: 'disabled'
    %}
  </div>
</div>
