<section class="py-6 lg:py-10">
  <div class="container max-w-screen-3xl xl:px-20">
    <div class="border-t border-june-dark py-10 lg:py-20">
      <div class="
          mb-2
          text-caps-s
          uppercase
          md:mb-4
          lg:mb-6
          lg:text-h6
        ">
        instructions
      </div>
      <h2 class="
          mb-9
          font-heading
          text-h2
          last:mb-0
          lg:mb-6
          lg:text-h2-desktop
        ">
        How to take our Premium Formula
      </h2>
    </div>
    <div class="grid gap-10 lg:grid-cols-3">
      <div class="lg:flex">
        <div class="
            hidden
            lg:mr-6
            lg:block
            lg:w-15
            lg:shrink-0
            xl:mr-10
          ">
          {%- render 'icon', icon: 'arrow-right-circle', class: 'w-15 h-15' -%}
        </div>
        <div class="
            flex
            items-center
            gap-6
            lg:flex-col-reverse
            lg:items-start
            lg:justify-between
            lg:gap-8
          ">
          <div class="
              h-32
              w-32
              self-start
              overflow-hidden
              rounded-full
              max-lg:shrink-0
              lg:h-50
              lg:w-50
              2xl:h-75
              2xl:w-75
            ">
            {%
              render 'image',
              asset_img_url: true,
              class: 'object-cover h-full rounded-full',
              src: 'img-placeholder.png',
              m: '128x128',
              t: '200x200',
              d: '300x300',
              crop: 'center',
              alt: 'image description',
              lazyload: true,
              fetchpriority: 'low'
            %}
          </div>
          <div>
            <div class="
                mb-2
                text-caps-s
                uppercase
                last:mb-0
                lg:mb-4
                lg:text-h5
              ">
              step 1
            </div>
            <h3 class="
                mb-4
                font-heading
                text-h2
                last:mb-0
                lg:mb-6
                lg:text-h2-desktop
              ">
              Tear it.
            </h3>
            <div class="
                prose
                mb-4
                text-body-xs
                last:mb-0
                lg:mb-6
                lg:text-body-small
              ">
              <p>Rip open an individual packet (make sure to dispose of it responsibly!)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:flex">
        <div class="
            hidden
            lg:mr-6
            lg:block
            lg:w-15
            lg:shrink-0
            xl:mr-10
          ">
          {%- render 'icon', icon: 'arrow-right-circle', class: 'w-15 h-15' -%}
        </div>
        <div class="
            flex
            items-center
            gap-6
            lg:flex-col-reverse
            lg:items-start
            lg:justify-between
            lg:gap-8
          ">
          <div class="
              h-32
              w-32
              self-start
              overflow-hidden
              rounded-full
              max-lg:shrink-0
              lg:h-50
              lg:w-50
              2xl:h-75
              2xl:w-75
            ">
            {%
              render 'image',
              asset_img_url: true,
              class: 'object-cover h-full rounded-full',
              src: 'img-placeholder.png',
              m: '128x128',
              t: '200x200',
              d: '300x300',
              crop: 'center',
              alt: 'image description',
              lazyload: true,
              fetchpriority: 'low'
            %}
          </div>
          <div>
            <div class="
                mb-2
                text-caps-s
                uppercase
                last:mb-0
                lg:mb-4
                lg:text-h5
              ">
              step 2
            </div>
            <h3 class="
                mb-4
                font-heading
                text-h2
                last:mb-0
                lg:mb-6
                lg:text-h2-desktop
              ">
              Pour it.
            </h3>
            <div class="
                prose
                mb-4
                text-body-xs
                last:mb-0
                lg:mb-6
                lg:text-body-small
              ">
              <p>
                Tip the powder directly into your mouth – no water required. The good bacteria will get to work straight
                away.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:flex">
        <div class="
            hidden
            lg:mr-6
            lg:block
            lg:w-15
            lg:shrink-0
            xl:mr-10
          ">
          {%- render 'icon', icon: 'arrow-right-circle', class: 'w-15 h-15' -%}
        </div>
        <div class="
            flex
            items-center
            gap-6
            lg:flex-col-reverse
            lg:items-start
            lg:justify-between
            lg:gap-8
          ">
          <div class="
              h-32
              w-32
              self-start
              overflow-hidden
              rounded-full
              max-lg:shrink-0
              lg:h-50
              lg:w-50
              2xl:h-75
              2xl:w-75
            ">
            {%
              render 'image',
              asset_img_url: true,
              class: 'object-cover h-full rounded-full',
              src: 'img-placeholder.png',
              m: '128x128',
              t: '200x200',
              d: '300x300',
              crop: 'center',
              alt: 'image description',
              lazyload: true,
              fetchpriority: 'low'
            %}
          </div>
          <div>
            <div class="
                mb-2
                text-caps-s
                uppercase
                last:mb-0
                lg:mb-4
                lg:text-h5
              ">
              step 3
            </div>
            <h3 class="
                mb-4
                font-heading
                text-h2
                last:mb-0
                lg:mb-6
                lg:text-h2-desktop
              ">
              Live it.
            </h3>
            <div class="
                prose
                mb-4
                text-body-xs
                last:mb-0
                lg:mb-6
                lg:text-body-small
              ">
              <p>The day’s yours for the taking. What’s on the cards?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
