<section class="overflow-hidden py-10">
  <div class="container max-w-screen-3xl xl:px-30">
    <div class="pb-4 md:flex md:gap-10 md:pb-10 xl:gap-20">
      <div class="
          font-heading
          text-h3
          md:w-2/5
          md:text-h6
          md:uppercase
        ">
        Science says
      </div>
      <div class="
          hidden
          md:block
          md:w-3/5
          md:font-heading
          md:text-h6
          md:uppercase
        ">
        our solution
      </div>
    </div>
    <div>
      <div class="
          flex
          flex-col
          !border-t
          border-base-body
          py-6
          max-md:first:!border-0
          md:flex-row
          md:gap-10
          md:py-10
          xl:gap-20
        ">
        <div class="
            !py-0
            md:flex
            md:w-2/5
            md:gap-10
            xl:gap-20
          ">
          <div class="hidden md:block md:shrink-0 md:pt-1">
            {%- render 'icon', icon: 'checkmark-circle', class: 'h-9 w-9' -%}
          </div>
          <div class="font-medium">
            Intense, prolonged exercise has been shown to increase gut permeability which can potentially result in
            systemic toxemia
          </div>
        </div>
        <div class="md:w-3/5">
          <div class="
              flex
              items-start
              gap-6
              overflow-hidden
              pt-6
              md:gap-10
              md:pt-0
              xl:gap-20
            ">
            <div class="
                flex
                max-w-[27%]
                shrink-0
                items-center
                gap-2
                md:hidden
              ">
              <div class="h-6 w-6 shrink-0">
                {%- render 'icon', icon: 'checkmark-circle', class: 'w-full h-full' -%}
              </div>
              <div class="text-caps-xs uppercase">our solution</div>
            </div>
            <div class="prose max-lg:text-body-xxs">
              <p>
                We tackle increased gut permeability caused by rigorous exercise, especially in hot conditions. Our
                infant formulas improve the gut-barrier function, mitigating systemic toxemia and promoting overall
                well-being among athletes.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="
          flex
          flex-col
          !border-t
          border-base-body
          py-6
          max-md:first:!border-0
          md:flex-row
          md:gap-10
          md:py-10
          xl:gap-20
        ">
        <div class="
            !py-0
            md:flex
            md:w-2/5
            md:gap-10
            xl:gap-20
          ">
          <div class="hidden md:block md:shrink-0 md:pt-1">
            {%- render 'icon', icon: 'checkmark-circle', class: 'h-9 w-9' -%}
          </div>
          <div class="font-medium">
            Intense, prolonged exercise has been shown to increase gut permeability which can potentially result in
            systemic toxemia
          </div>
        </div>
        <div class="md:w-3/5">
          <div class="
              flex
              items-start
              gap-6
              overflow-hidden
              pt-6
              md:gap-10
              md:pt-0
              xl:gap-20
            ">
            <div class="
                flex
                max-w-[27%]
                shrink-0
                items-center
                gap-2
                md:hidden
              ">
              <div class="h-6 w-6 shrink-0">
                {%- render 'icon', icon: 'checkmark-circle', class: 'w-full h-full' -%}
              </div>
              <div class="text-caps-xs uppercase">our solution</div>
            </div>
            <div class="prose max-lg:text-body-xxs">
              <p>
                We tackle increased gut permeability caused by rigorous exercise, especially in hot conditions. Our
                infant formulas improve the gut-barrier function, mitigating systemic toxemia and promoting overall
                well-being among athletes.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="
          flex
          flex-col
          !border-t
          border-base-body
          py-6
          max-md:first:!border-0
          md:flex-row
          md:gap-10
          md:py-10
          xl:gap-20
        ">
        <div class="
            !py-0
            md:flex
            md:w-2/5
            md:gap-10
            xl:gap-20
          ">
          <div class="hidden md:block md:shrink-0 md:pt-1">
            {%- render 'icon', icon: 'checkmark-circle', class: 'h-9 w-9' -%}
          </div>
          <div class="font-medium">
            Intense, prolonged exercise has been shown to increase gut permeability which can potentially result in
            systemic toxemia
          </div>
        </div>
        <div class="md:w-3/5">
          <div class="
              flex
              items-start
              gap-6
              overflow-hidden
              pt-6
              md:gap-10
              md:pt-0
              xl:gap-20
            ">
            <div class="
                flex
                max-w-[27%]
                shrink-0
                items-center
                gap-2
                md:hidden
              ">
              <div class="h-6 w-6 shrink-0">
                {%- render 'icon', icon: 'checkmark-circle', class: 'w-full h-full' -%}
              </div>
              <div class="text-caps-xs uppercase">our solution</div>
            </div>
            <div class="prose max-lg:text-body-xxs">
              <p>
                We tackle increased gut permeability caused by rigorous exercise, especially in hot conditions. Our
                infant formulas improve the gut-barrier function, mitigating systemic toxemia and promoting overall
                well-being among athletes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="overflow-hidden py-10">
  <div class="container max-w-screen-3xl xl:px-30">
    <div class="pb-4 md:flex md:gap-10 md:pb-10 xl:gap-20">
      <div class="
          font-heading
          text-h3
          md:w-2/5
          md:text-h6
          md:uppercase
        ">
        Science says
      </div>
      <div class="
          hidden
          md:block
          md:w-3/5
          md:font-heading
          md:text-h6
          md:uppercase
        ">
        our solution
      </div>
    </div>
    <div class="accordion accordion--description js-description-accordion">
      <div class="
          ac
          flex
          flex-col
          !border-t
          border-base-body
          py-6
          max-md:first:!border-0
          md:flex-row
          md:gap-10
          md:py-10
          xl:gap-20
        ">
        <div class="
            accordion__opener
            ac-trigger
            !py-0
            md:flex
            md:w-2/5
            md:!cursor-auto
            md:gap-10
            xl:gap-20
          ">
          <div class="hidden md:block md:shrink-0 md:pt-1">
            {%- render 'icon', icon: 'checkmark-circle', class: 'h-9 w-9' -%}
          </div>
          <div class="font-medium">
            Intense, prolonged exercise has been shown to increase gut permeability which can potentially result in
            systemic toxemia
          </div>
        </div>
        <div class="accordion__slide ac-panel md:w-3/5">
          <div class="
              flex
              items-start
              gap-6
              overflow-hidden
              pt-6
              md:gap-10
              md:pt-0
              xl:gap-20
            ">
            <div class="
                flex
                max-w-[27%]
                shrink-0
                items-center
                gap-2
                md:hidden
              ">
              <div class="h-6 w-6 shrink-0">
                {%- render 'icon', icon: 'checkmark-circle', class: 'w-full h-full' -%}
              </div>
              <div class="text-caps-xs uppercase">our solution</div>
            </div>
            <div class="prose max-lg:text-body-xxs">
              <p>
                We tackle increased gut permeability caused by rigorous exercise, especially in hot conditions. Our
                infant formulas improve the gut-barrier function, mitigating systemic toxemia and promoting overall
                well-being among athletes.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="
          ac
          flex
          flex-col
          !border-t
          border-base-body
          py-6
          max-md:first:!border-0
          md:flex-row
          md:gap-10
          md:py-10
          xl:gap-20
        ">
        <div class="
            accordion__opener
            ac-trigger
            !py-0
            md:flex
            md:w-2/5
            md:!cursor-auto
            md:gap-10
            xl:gap-20
          ">
          <div class="hidden md:block md:shrink-0 md:pt-1">
            {%- render 'icon', icon: 'checkmark-circle', class: 'h-9 w-9' -%}
          </div>
          <div class="font-medium">
            Intense, prolonged exercise has been shown to increase gut permeability which can potentially result in
            systemic toxemia
          </div>
        </div>
        <div class="accordion__slide ac-panel md:w-3/5">
          <div class="
              flex
              items-start
              gap-6
              overflow-hidden
              pt-6
              md:gap-10
              md:pt-0
              xl:gap-20
            ">
            <div class="
                flex
                max-w-[27%]
                shrink-0
                items-center
                gap-2
                md:hidden
              ">
              <div class="h-6 w-6 shrink-0">
                {%- render 'icon', icon: 'checkmark-circle', class: 'w-full h-full' -%}
              </div>
              <div class="text-caps-xs uppercase">our solution</div>
            </div>
            <div class="prose max-lg:text-body-xxs">
              <p>
                We tackle increased gut permeability caused by rigorous exercise, especially in hot conditions. Our
                infant formulas improve the gut-barrier function, mitigating systemic toxemia and promoting overall
                well-being among athletes.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="
          ac
          flex
          flex-col
          !border-t
          border-base-body
          py-6
          max-md:first:!border-0
          md:flex-row
          md:gap-10
          md:py-10
          xl:gap-20
        ">
        <div class="
            accordion__opener
            ac-trigger
            !py-0
            md:flex
            md:w-2/5
            md:!cursor-auto
            md:gap-10
            xl:gap-20
          ">
          <div class="hidden md:block md:shrink-0 md:pt-1">
            {%- render 'icon', icon: 'checkmark-circle', class: 'h-9 w-9' -%}
          </div>
          <div class="font-medium">
            Intense, prolonged exercise has been shown to increase gut permeability which can potentially result in
            systemic toxemia
          </div>
        </div>
        <div class="accordion__slide ac-panel md:w-3/5">
          <div class="
              flex
              items-start
              gap-6
              overflow-hidden
              pt-6
              md:gap-10
              md:pt-0
              xl:gap-20
            ">
            <div class="
                flex
                max-w-[27%]
                shrink-0
                items-center
                gap-2
                md:hidden
              ">
              <div class="h-6 w-6 shrink-0">
                {%- render 'icon', icon: 'checkmark-circle', class: 'w-full h-full' -%}
              </div>
              <div class="text-caps-xs uppercase">our solution</div>
            </div>
            <div class="prose max-lg:text-body-xxs">
              <p>
                We tackle increased gut permeability caused by rigorous exercise, especially in hot conditions. Our
                infant formulas improve the gut-barrier function, mitigating systemic toxemia and promoting overall
                well-being among athletes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
