@import "../vendors/include-media";

.slideshow-gallery {

  .splide__pagination {
    bottom: 10px;
  }

  .splide__arrow {
    top: 30%;
    @include media ("≥tablet") {
      top: 50%;
    }
    &:disabled {
      display: none;
    }
  }
}
