<section class="py-10 md:flex md:min-h-[50vh] md:items-center">
  <div class="container max-w-screen-3xl">
    <div class="prose text-center">
      <h1 class="font-heading text-h1 lg:text-h1-desktop">{{ 'general.404.title' | t }}</h1>
      <p>{{ 'general.404.subtext_html' | t }}</p>
    </div>
  </div>
</section>
