<section class="overflow-hidden py-9 lg:py-10">
  <div class="container max-w-screen-3xl xl:px-20">
    <div class="
        mb-9
        flex
        flex-col
        gap-6
        border-t
        border-june-dark
        pt-16
        text-center
        lg:mb-0
        lg:flex-row
        lg:items-end
        lg:justify-between
        lg:gap-10
        lg:pb-10
        lg:pt-20
        lg:text-left
      ">
      <div class="lg:w-6/12">
        {% if section.settings.subtitle != blank %}
          <div class="
              mb-4
              text-caps-s
              uppercase
              last:mb-0
              lg:mb-6
              lg:font-heading
              lg:text-h6
            ">
            {{ section.settings.subtitle }}
          </div>
        {% endif %}
        {% if section.settings.title != blank %}
          <h2 class="
              mb-4
              font-heading
              text-h2
              last:mb-0
              lg:text-h1-desktop
            ">
            {{ section.settings.title }}
          </h2>
        {% endif %}
      </div>
      {% if section.settings.text != blank %}
        <div class="prose text-body-xs lg:w-2/5 lg:text-body-small">
          {{ section.settings.text }}
        </div>
      {% endif %}
    </div>
    <div class="
        flex
        flex-col
        gap-9
        lg:gap-10
        lg:pb-20
        lg:pt-10
        xl:flex-row
      ">
      <div class="grid gap-4 md:grid-cols-3 md:flex-row lg:gap-6">
        {%- comment -%}
          Blocks has 3 variants: default with gray bg and item-yellow, item-dark.
          To change the variant, add class to the block element - "item-yellow" or "item-dark".
        {%- endcomment -%}
        <div class="
            item-yellow
            flex
            gap-6
            rounded-2xl
            bg-june-5
            px-6
            py-9
            md:min-h-90
            md:flex-col
            md:justify-between
            md:p-9
            [&.item-dark]:bg-june-dark
            [&.item-dark]:text-base-accent
            [&.item-yellow]:bg-base-accent
          ">
          <div class="
              flex
              h-12
              w-12
              items-center
              justify-center
              max-md:flex-shrink-0
              md:h-16
              md:w-16
            ">
            {%
              render 'image',
              asset_img_url: true,
              src: 'img-placeholder.png',
              m: '48x48',
              d: '64x64',
              crop: 'center',
              lazyload: true,
              fetchpriority: 'low',
            %}
          </div>
          <div>
            <h3 class="mb-6 font-heading text-h3 lg:text-h3-desktop">Quality and Efficacy</h3>
            <div class="prose text-body-xs lg:text-body-small">
              <p>We prioritize quality and efficacy in every product we create.</p>
            </div>
          </div>
        </div>

        <div class="
            item-dark
            flex
            gap-6
            rounded-2xl
            bg-june-5
            px-6
            py-9
            md:h-full
            md:min-h-90
            md:flex-col
            md:justify-between
            md:p-9
            [&.item-dark]:bg-june-dark
            [&.item-dark]:text-base-accent
            [&.item-yellow]:bg-base-accent
          ">
          <div class="
              flex
              h-12
              w-12
              items-center
              justify-center
              max-md:flex-shrink-0
              md:h-16
              md:w-16
            ">
            {%
              render 'image',
              asset_img_url: true,
              src: 'img-placeholder.png',
              m: '48x48',
              d: '64x64',
              crop: 'center',
              lazyload: true,
              fetchpriority: 'low',
            %}
          </div>
          <div>
            <h3 class="mb-6 font-heading text-h3 lg:text-h3-desktop">Scientifically Backed Formulas</h3>
            <div class="prose text-body-xs lg:text-body-small">
              <p>Our infant formula formulas are backed by scientific research and expertise.</p>
            </div>
          </div>
        </div>

        <div class="
            flex
            gap-6
            rounded-2xl
            bg-june-5
            px-6
            py-9
            md:h-full
            md:min-h-90
            md:flex-col
            md:justify-between
            md:p-9
            [&.item-dark]:bg-june-dark
            [&.item-dark]:text-base-accent
            [&.item-yellow]:bg-base-accent
          ">
          <div class="
              flex
              h-12
              w-12
              items-center
              justify-center
              max-md:flex-shrink-0
              md:h-16
              md:w-16
            ">
            {%
              render 'image',
              asset_img_url: true,
              src: 'img-placeholder.png',
              m: '48x48',
              d: '64x64',
              crop: 'center',
              lazyload: true,
              fetchpriority: 'low',
            %}
          </div>
          <div>
            <h3 class="mb-6 font-heading text-h3 lg:text-h3-desktop">Tailored for Active Lifestyles</h3>
            <div class="prose text-body-xs lg:text-body-small">
              <p>We understand the unique needs of athletic individuals and design our products accordingly.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center xl:w-29 xl:shrink-0 xl:self-center">
        <a
          href="#"
          class="
            group/link
            inline-flex
            items-center
            gap-5
            text-h6
            uppercase
            xl:flex-col-reverse
          "
        >
          <span>Learn more</span>
          <span class="relative h-9 w-9 shrink-0 xl:h-16 xl:w-16">
            {%- render 'icon', icon: 'arrow-right-circle', class: 'h-full w-full transition-opacity duration-300 ease-in-out group-hover/link:opacity-0' -%}
            {%- render 'icon', icon: 'arrow-right-circle-filled', class: 'absolute left-0 top-0 h-full w-full opacity-0 transition-opacity duration-300 ease-in-out group-hover/link:opacity-100' -%}
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
