{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

<div class="
    flex
    h-100dvh
    w-full
    items-center
    justify-center
    px-8
  ">
  <div class="mx-auto w-full max-w-md text-center">
    <div class="m-auto mb-3 max-w-[250px] text-center">
      {%
        render 'image',
        asset_img_url: true,
        src: 'logo.png',
        m: '262x36',
        crop: 'center',
        alt: 'EDUCA Organics logo',
        loading: false,
        fetchpriority: 'high'
      %}
    </div>
    {% form 'storefront_password', class: 'mb-5 md:mb-8' %}
      {{ form.errors | default_errors }}
      <div class="grid gap-2">
        <label
          class="text-left"
          for="password"
        >
          Enter password
        </label>
        <div class="flex flex-col gap-4 md:flex-row md:items-center">
          <input
            type="password"
            id="password"
            class="
              form-input
              h-form-element
              w-full
              rounded-form-element
              border-base-border
              bg-base-body-background
              text-body-medium
              placeholder:text-base-secondary
              autofill:shadow-inset-white
              focus:border-base-body
            "
            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
            name="password"
            required
          >
          {%
            render 'button',
            element: 'button',
            type: 'submit',
            class: 'w-full min-h-form-element !rounded-form-element md:shrink-0 md:w-36',
            color: 'primary',
            size: 'md',
            locales_text: 'general.password_page.login_form_submit',
            other: 'name="commit"'
          %}
        </div>
      </div>
    {% endform %}
    <div class="prose">
      <p>{{ 'general.password_page.admin_link_html' | t }}</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Password"
}
{% endschema %}
